h1 {
    color: rgb(69, 57, 183);
    background-color: black;
    font-size: 40px;
}
body {
    background-color: rgb(0, 0, 0);
}
div {
    color: rgb(69, 57, 183);
}
.andytext {
    background-color: rgb(0, 0, 0);
}

.medium-text {
    font-size: 30px;
}
.small-text {
    font-size: 25px;
}